.App {
  text-align: center;
  border-style: double;
  border-width: 20px 20px 20px;
  border-color: #EAEAEA;
}

.App-logo {
  max-width:90%;
  max-height:90%;
  pointer-events: none;
}

.App-header {
  background-color: #FEFEFE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(36px + 2vmin);
  color: #6A6969;
}

.App-link {
  font-size: calc(12px + 2vmin);
  color: #6A6969;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
