body {
  background-color: #ebebeb;
  max-width: 650px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #1d450a;
}

div.hero {
  text-align: center;
  margin: 20px 20px 20px 20px;
  display: block;
}

img.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1.hero-title {
  font-weight: bolder;
  color: #1d450a;
  font-family: monospace;
  font-size: 52px;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.hero-menu {
  display: flex;
  color: #1d450a;
  font-size: 24px;
  justify-content: center;
  position: relative;
}

div.hero-menu-item {
  font-family: sans-serif;
  padding: 10px;
  z-index: 1;
  background-color: #ebebeb;
  position: relative;
}

div.hero-menu-item:hover {
  text-decoration: underline;
}

div.hero-menu-item:focus {
  text-decoration: underline;
}

div.hero-menu-divider {
  border-top-style: solid;
  border-color: #1d450a;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: -1.7em;
  margin-bottom: 1.7em;
  z-index: -1;
}

div.copy {
  display: block;
  margin: 30px 40px 0px 40px;
  font-size: 15px;
  text-align: left;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #1d450a;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1d450a;
  font-family: sans-serif;
  font-size: calc(14px + 0.8vw);
  font-weight: normal;
}

p {
  color: #1d450a;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

.blog-title {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}

.blog-date {
  text-align: left;
  margin-top: 0px;
}

.blog-teaser {
  text-align: left;
  margin-top: 0px;
}

.blog-read-more {
  font-family: sans-serif;
  font-size: 14px;
  text-align: right;
}

.blog-read-more:hover {
  text-decoration: underline;
}

p.blog-copy {
  text-align: left;
}

a.blog-link {
  text-decoration: underline;
}

.blog-unordered-list {
  color: #1d450a;
  font-family: sans-serif;
  font-size: 14px;
  text-align: left;
}

div.footer-contact {
  text-align: right;
  margin-right: 10%;
  margin-top: 80px;
}

a.footer-link {
  padding: 5px;
}

.footer-link-logo {
  font-size: calc(25px + 0.8vw);
}
